@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, html {
        scroll-behavior: smooth;
    }
}

@layer components {
    .custom-bg-gradient {
        background: rgb(124,175,212);
        background: linear-gradient(335deg, rgba(124,175,212,1) 30%, rgba(233,154,39,1) 96%);
    }
    
    .custom-message-bubble {
        @apply items-center absolute top-[114%] left-4 w-full h-fit 
        border-2 border-main rounded-b-lg bg-white py-2 px-1;
    }

    .navigation-background {
        @apply backdrop-blur bg-main shadow-xl;
    }

    .image-gallery {
        @apply grid grid-flow-col grid-flow-row
        lg:image-gallery-container;
    }
    
    .image-gallery-container {  
        display: grid;
        grid-template-columns: 1.4fr 0.8fr 0.8fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "image1 image2 image3"
          "image1 image4 image5";
    }
    
    .image-gallery-container * {
        @apply cursor-pointer active:brightness-90 hover:brightness-95;
    }
      
    .image1 { grid-area: image1; }
    
    .image2 { grid-area: image2; }
    
    .image3 { grid-area: image3; }
    
    .image4 { grid-area: image4; }
    
    .image5 { grid-area: image5; }

    .filter-select {
        @apply border-2 border-custom-gray
        hover:bg-slate-200;
    }
    
    .form-group {
        @apply flex flex-col h-full mx-2 py-2 px-2 relative;
    }
    
    .form-label {
        @apply mb-1 px-2 font-semibold;
    }
    
    .form-input {
        @apply px-2 py-1 text-base whitespace-normal border-2
        rounded-md 
        border-transparent transition-colors cursor-pointer
        hover:bg-slate-200;
    }
    
    .form-input-border {
        @apply px-2 py-1 text-base whitespace-normal border-2
        rounded-md 
        transition-colors cursor-pointer
        hover:bg-slate-200;
    }
    
    .form-input-success {
        @apply border-success border-2;
    }
    
    .form-input-failure {
        @apply border-failure border-2;
    }
    
    .form-input-dropdown {
        @apply container flex-col min-h-full w-full
        absolute top-[45%] left-2 
        rounded-lg overflow-hidden drop-shadow-2xl 
        bg-slate-100 text-custom-dark z-10;
    }
    
    .form-input-dropdown-navigation {
        @apply container min-h-fit w-full
        absolute top-[120%] left-0
        rounded-b-lg overflow-hidden shadow-xl 
        bg-slate-50 text-custom-dark z-10;
    }
    
    .btn-solid {
        @apply container flex font-semibold text-current transition-all duration-[25] ease-out 
        py-2 px-4 
        brightness-100 
        hover:brightness-90 active:brightness-75; 
    }
    
    .btn-underline {
        @apply text-current transition-all duration-[25] ease-out hover:text-primary
        after:content-[''] after:absolute after:-bottom-1 after:left-0
        after:bg-primary  after:w-full after:scale-0 
        after:origin-bottom-right after:h-[2px]
        hover:after:scale-100 hover:after:origin-bottom-left;
    }
    
    .btn-underline-active {
        @apply text-primary;
    }
}