@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
    scroll-behavior: smooth;
}

.custom-bg-gradient {
    background: rgb(124,175,212);
    background: linear-gradient(335deg, rgba(124,175,212,1) 30%, rgba(233,154,39,1) 96%);
}

.form-group {
    @apply flex flex-col h-full mx-2 py-2 px-2 relative;
}

.form-input-text {
    @apply px-2 py-1 text-base;
}

.search-result-list {
    @apply container min-h-fit w-[98%]
    absolute top-[92%] left-1
    rounded-b-lg overflow-hidden drop-shadow-xl 
    bg-slate-100 text-dark z-10;
}

.btn-solid {
    @apply container flex font-bold text-current transition-all duration-[25] ease-out 
    py-2 px-4 rounded-lg 
    brightness-100 
    hover:brightness-90 active:brightness-75; 
}

.btn-underline {
    @apply text-current transition-all duration-[25] ease-out hover:text-primary
    after:content-[''] after:absolute after:-bottom-1 after:left-0
    after:bg-primary  after:w-full after:scale-0 
    after:origin-bottom-right after:h-[2px]
    hover:after:scale-100 hover:after:origin-bottom-left;
}