@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
    scroll-behavior: smooth;
}

.custom-bg-gradient {
    background: rgb(124,175,212);
    background: linear-gradient(335deg, rgba(124,175,212,1) 30%, rgba(233,154,39,1) 96%);
}

.form-group {
    @apply flex flex-col h-full mx-2 py-2 px-2 relative;
}

.form-label {
    @apply mb-1 mx-2 font-semibold;
}

.form-input {
    @apply px-2 py-1 text-base whitespace-normal border-2 border-transparent transition-colors
    hover:bg-slate-200;
}

.form-input-success {
    @apply border-success border-2;
}

.form-input-failure {
    @apply border-failure border-2;
}

.form-input-dropdown {
    @apply container flex-col min-h-full w-full
    absolute top-[45%] left-2 
    rounded-lg overflow-hidden drop-shadow-2xl 
    bg-slate-100 text-custom-dark z-10;
}

.form-input-dropdown-navigation {
    @apply container min-h-fit w-full
    absolute top-[120%] left-0
    rounded-b-lg overflow-hidden shadow-xl 
    bg-slate-50 text-custom-dark z-10;
}

.btn-solid {
    @apply container flex font-bold text-current transition-all duration-[25] ease-out 
    py-2 px-4 rounded-lg 
    brightness-100 
    hover:brightness-90 active:brightness-75; 
}

.btn-underline {
    @apply text-current transition-all duration-[25] ease-out hover:text-primary
    after:content-[''] after:absolute after:-bottom-1 after:left-0
    after:bg-primary  after:w-full after:scale-0 
    after:origin-bottom-right after:h-[2px]
    hover:after:scale-100 hover:after:origin-bottom-left;
}